$base-font-size: 16px;
@media (max-width: 767px) {
  $base-font-size: 16px;
}

@media (min-width: 768px) {
  $base-font-size: 16px;
}

@media (min-width: 992px) {
  $base-font-size: 18px;
}

@media (min-width: 1200px) {
  $base-font-size: 20px;
}

@function rem($px-size) {
  $rem-size: $px-size / $base-font-size;
  @return #{$rem-size}rem;
}
